/* html */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --darkblue: #2680b1;
  --header: #f4f4f4;
  --putihh: #fff;
  --birumuda: #85cdf5;
  --black: #000;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: auto;
}

/* ini navbar */

.navbar {
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--putihh);
  margin: auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0 0 15px 15px;
  position: fixed;
  align-items: center;
  z-index: 100000000000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.logo h1 {
  font-size: 1.7em;
}

.logo img {
  width: 50px;
  height: 50px;
}

.navigation {
  display: flex;
  width: 50%;
}

.navigation ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.navigation ul li a {
  transition: all 0.5s;
  color: var(--black);
  font-weight: 600;
  justify-content: space-between;
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: var(--darkblue);
}

.navigation ul li a:active {
  transform: scale(0.97);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--black);
  border-radius: 4px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  height: 28px;
  width: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}






/* ?ini akhir navbar */










/*! awal herobanner */










.hero-banner {
  width: 90%;
  margin: auto;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-color: #f4f4f4;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  margin-top: 15vh;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
  max-height: 40%;
}

.judul {
  width: 45%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}


.judul h1 {
  font-size: 3em;
}


.judul p {
  width: 100%;
  font-size: 1.3em;
}

.img img {
  width: 290px;
}

.keterangan {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.calender {
  display: flex;
  align-items: center;
  gap: 15px;
}

.kalender {
  font-size: 1.5em;
  background-color: var(--putihh);
  width: 40px;
  display: flex;
  justify-content: center;
  height:40px;
  align-items: center;
  border-radius: 100%;
}

.kata-katasatu h3 {
  color: var(--darkblue);
}

.kata-katasatu p {
  color: #AFAFAF;
}


.asal {
  display: flex;
  align-items: center;
  gap: 15px;
}

.origin {
  font-size: 1.5em;
  background-color: var(--putihh);
  width: 40px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 100%;
}

.kata-katadua h3 {
  color: var(--darkblue);
}

.kata-katadua p {
  color: #AFAFAF;
}

.produk {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product {
  font-size: 1.5em;
  background-color: var(--putihh);
  width: 40px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 100%;
}

.kata-katatiga h3 {
  color: var(--darkblue);
}

.kata-katatiga p {
  color: #AFAFAF;
}


.footer-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.explore{
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 60px;
}



.explore-btn {
  background-color: var(--darkblue);
  color: var(--putihh);
  height: 8vh;
  width: 26vh;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}

.explore-btn:hover {
  box-sizing: border-box;
  color: var(--darkblue);
  border: 1px solid var(--darkblue);
  background-color: var(--putihh);
  transform: scale(1.06);
}

.explore-btn:active {
  transform: scale(0.97);
}

.play {
  background-color: var(--darkblue);
  width: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  border-radius: 100%;
  transition: all 0.4s;
  font-size: 1.4em;
  cursor: pointer;
}


.play:hover {
  transform: scale(1.1);
}

.play:active {
  transform: scale(0.93);
}


.h1 h1 {
  font-weight: 600;
  display: flex;
  align-items: center;
}


.information {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background-color: var(--putihh);
  margin: auto;
  height: 18vh;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.25);
}


.location {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 25vh;
  border-radius: 10px;
  height: 11vh; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 6px;
  cursor: pointer;
  transition: all 0.4s;
}

.lokasi h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.3rem;
}

.indonesia {
  display: flex;
  align-items: center;
  gap: 5px;
}

.indonesia h3{
  font-size: 0.9em;
  font-weight: 400;
  color: #878686;
}

.indonesia i{
  font-size: 0.9em;
  font-weight: 400;
  transform: rotate( 90deg);
}

.location:hover{
  transform: scale(1.05);
}

.location:active{
  transform: scale(0.97);
}

.date {
  display: flex;
  flex-direction: column;
  background-color: var(--putihh);
  width: 25vh;
  border-radius: 10px;
  height: 11vh; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 6px;
  cursor: pointer;
  transition: all 0.4s;
}

.tanggal h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.3rem;
}

.nomer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nomer h3{
  font-size: 0.9em;
  font-weight: 400;
  color: #878686;
}

.nomer i{
  font-size: 0.9em;
  font-weight: 400;
  transform: rotate( 90deg);
}

.date:hover{
  transform: scale(1.05);
  background-color: #eee;
}

.date:active{
  transform: scale(0.97);
}

.produck {
  display: flex;
  flex-direction: column;
  background-color: var(--putihh);
  width: 25vh;
  border-radius: 10px;
  height: 11vh; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 6px;
  cursor: pointer;
  transition: all 0.4s;
}

.kualitas h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.3rem;
}

.nama-barang {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nama-barang h3{
  font-size: 0.9em;
  font-weight: 400;
  color: #878686;
}

.nama-barang i{
  font-size: 0.9em;
  font-weight: 400;
  transform: rotate( 90deg);
}

.produck:hover{
  transform: scale(1.05);
  background-color: #eee;
}

.produck:active{
  transform: scale(0.97);
}


.search {
  display: flex;
  width: 20vh;
  height: 8vh;
  background-color: var(--darkblue);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--putihh);
  cursor: pointer;
  transition: all 0.4s;
}

.search:active {
  transform: scale(0.97 );
}

.search i{
  font-size: 1.5em;
}

.search h1 {
  font-size: 1.3em;
}









/* !ini akhir herobanner */





/* ?main */





.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40vh;
  height: 100vh;

}

.judul-main {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.product-btn {
  display: flex;
  background-color: var(--darkblue);
  color: var(--putihh);
  cursor: pointer;
  height: 8vh;
  width: 30vh;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  transition: all 0.4s;
}

.product-btn:hover {
  transform: scale(1.06);
}

.product-btn:active {
  transform: scale(0.98);
}

.product-btn h3 {
  font-weight: 400;
}

.product-btn i {
  font-size: 1.7em;
  font-weight: 400;
}

.barang {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}


.barang-satu {
  width: 20%;
  gap: 3vh;
  display: flex;
  flex-direction: column;
}

.barang-btn:hover {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
}

.barang-satu img {
  width: 30vh;
  border-radius: 10px;
}


.barang-btn {
  display: flex;
  width: 100%;
  height: 12vh;
  border-radius: 10px;
  justify-content: space-around;
  background-color: var(--putihh);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}

.barang-btn h3{
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

.barang-btn h4{
  background-color: var(--darkblue);
  width: 7vh;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 4vh;
  cursor: pointer;
  color: var(--putihh);
  align-items: center;
  font-size: 0.9em;
  transition: all 0.5s;
}


.barang-btn h4:active{
  transform: scale(0.96);
}







.barang-dua {
  width: 20%;
  gap: 3vh;
  display: flex;
  flex-direction: column;
}

.barang-dua-btn:hover {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
}

.barang-dua img {
  width: 30vh;
  border-radius: 10px;
}


.barang-dua-btn {
  display: flex;
  width: 100%;
  height: 12vh;
  border-radius: 10px;
  justify-content: space-around;
  background-color: var(--putihh);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}

.barang-dua-btn h3{
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

.barang-dua-btn h4{
  background-color: var(--darkblue);
  width: 7vh;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 4vh;
  cursor: pointer;
  color: var(--putihh);
  align-items: center;
  font-size: 0.9em;
  transition: all 0.5s;
}


.barang-dua-btn h4:active{
  transform: scale(0.96);
}

.barang-tiga {
  width: 20%;
  gap: 3vh;
  display: flex;
  flex-direction: column;
}

.barang-tiga-btn:hover {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
}

.barang-tiga img {
  width: 30vh;
  border-radius: 10px;
}


.barang-tiga-btn {
  display: flex;
  width: 100%;
  height: 12vh;
  border-radius: 10px;
  justify-content: space-around;
  background-color: var(--putihh);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}

.barang-tiga-btn h3{
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

.barang-tiga-btn h4{
  background-color: var(--darkblue);
  width: 7vh;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 4vh;
  cursor: pointer;
  color: var(--putihh);
  align-items: center;
  font-size: 0.9em;
  transition: all 0.5s;
}


.barang-tiga-btn h4:active{
  transform: scale(0.96);
}



.barang-empat {
  width: 20%;
  gap: 3vh;
  display: flex;
  flex-direction: column;
}

.barang-empat-btn:hover {
box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
}

.barang-empat img {
  width: 30vh;
  border-radius: 10px;
}


.barang-empat-btn {
  display: flex;
  width: 100%;
  height: 12vh;
  border-radius: 10px;
  justify-content: space-around;
  background-color: var(--putihh);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}

.barang-empat-btn h3{
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

.barang-empat-btn h4{
  background-color: var(--darkblue);
  width: 7vh;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 4vh;
  cursor: pointer;
  color: var(--putihh);
  align-items: center;
  font-size: 0.9em;
  transition: all 0.5s;
}


.barang-empat-btn h4:active{
  transform: scale(0.96);
}


















/* ?akhir main */









/* *awal penutup */





.penutup {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 10vh;
  margin-top: 80px;
  position: relative;
}

.judul-penutup {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  gap: 2vh;
}

.judul-penutup h1 {
  margin: auto;
  font-size: 2em;
}

.judul-penutup ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.3em;
  width: 90%;
  margin: auto;
  border-bottom: 2px solid var(--black);
}

.judul-penutup ul li a {
  transition: all 0.4s;
  text-decoration: none;
  color: var(--black);
}

.judul-penutup ul li a:hover {
  color: var(--darkblue);
  border-bottom: 3px solid var(--darkblue);
}


.desk-product {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
}

.img {
  display: flex;
  align-items: center;
}

.img .img-satu {
  width: 20rem;
  border-radius: 20px;
}

.img .img-dua {
  width: 16rem;
  position: absolute;
  padding-left: 200px;
  padding-top: 150px;
}

.deskripsi-product {
  display: flex;
  flex-direction: column;
  padding-left: 170px; 
  width: 60%;
}

.deskripsi-product h1 {
  color: var(--darkblue);
  font-size: 3em;
}

.deskripsi-product p {
  width: 80%;
  font-size: 1.3em;
}

.deskripsi-product h3 {
  font-size: 1.5em;
  background-color: var(--darkblue);
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--putihh);
  height: 4vw;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.5s;
}

.deskripsi-product h3:active {
  transform: scale(0.97);
}








/* *akhir penutup */






/* !==HUBUNGI KAMI== */



.hubungi-kami {
  display: flex;
  width: 90%;
  height: 100vh;
  margin: 200px auto;
}

.hubungi{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 60px;
  height: 80vh;
  background-color: var(--darkblue);
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
}

.hubungi h1 {
  color: var(--putihh);
  margin: auto;
  padding-top: 40px;
}

.hubungi form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  width: 70%;
  margin: auto;
}

.hubungi form input{
  font-family: 'poppins';
  padding: 15px 5px;
  color: var(--putihh);
  background-color: var(--darkblue);
  border-style: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--putihh);
}


.hubungi h4 {
  margin: auto;
  color: var(--darkblue);
  width: 15vh;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: var(--putihh);
  cursor: pointer;
  transition: all 0.5s;
}

.hubungi h4:active {
  transform: scale(0.96);
}


.img-hubungi {
  width: 40%;
}

.img-hubungi img {
  height: 80vh;
  border-radius: 0 20px 20px 0;
}



/* !AKHIR HUBUGNI KAMI */







/* ?==FOOTERR== */




footer {
  display: flex;
  background-color: var(--darkblue);
  height: 60vh;
  width: 100%;
  color: var(--putihh);
  justify-content: space-around;
  box-sizing: border-box;
}



.name {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  padding-top: 40px;
}



.blog-category {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.link {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link p a {
  transition: all 0.5s;
  text-decoration: none;
  list-style: none;
  color: var(--putihh);
}

.link p a:hover{
  color: var(--birumuda);
  cursor: pointer;
}


.link p:active{
  transform: scale(0.97);
}











/* ?==AKHIR FOOTER== */

















/* ?hamburger menu */








.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--birumuda);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--birumuda);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  background-color: var(--birumuda);
}













/*? all responsive */







@media screen and (max-width: 1016px) {
  
  
  .navigation {
    width: 60%;
  }
  
  /* ?responsive herobanner */


  .hero-banner {
    height: 120vh;
  }



  .judul {
    width: 45%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
  
  
  .judul h1 {
    font-size: 5vw;
  }
  
  
  .judul p {
    width: 100%;
    font-size: 2.5vw;
  }

  .img img {
    display: none;
  }
  
  .keterangan {
    width: 40%;
  }
  
  .calender {
    margin-left: 50px;
  }
  
  .kalender {
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
  }
  
  .kata-katasatu h3 {
    font-size: 2.5vw;
  }
  
  .kata-katasatu p {
    font-size: 2vw;
  }
  
  
  .asal {
    margin: 0 0 0 50px;
  }
  
  .origin {
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
  }
  
  .kata-katadua h3 {
    font-size: 2.5vw;
  }
  
  .kata-katadua p {
    font-size: 2vw;
  }
  
  
  .produk {
    margin: 0 0 0 50px;
  }
  
  .product {
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
  }
  
  .kata-katatiga h3 {
    font-size: 2.5vw;
  }
  
  .kata-katatiga p {
    font-size: 2vw;
  }

  .explore-btn {
    height: 6vw;
    width: 20vw;
  }

  .explore-btn h1 {
    font-size: 2.5vw;
  }

  .play {
    background-color: var(--darkblue);
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
    border-radius: 100%;
    transition: all 0.4s;
    font-size: 1.4em;
    cursor: pointer;
  }

  .play i {
    font-size: 3vw;
  }

  .h1 h1 {
    font-size: 2.5vw;
  }

  .information {
    width: 85%;
  }


  .location {
    width: 15vw;
    height: 6vw; 
  }
  
  .lokasi h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2vw;
  }
  
  .indonesia {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .indonesia h3{
    font-size: 1.3vw;
    font-weight: 400;
    color: #878686;
  }
  
  .indonesia i{
    font-size: 1.3vw;
  }
  
  
  .date {
    width: 15vw;
    height: 6vw; 
  }
  
  .tanggal h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2vw;
  }
  
  .nomer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nomer h3{
    font-size: 1.3vw;
    font-weight: 400;
    color: #878686;
  }
  
  .nomer i{
    font-size: 1.3vw;
  }
  
  .produck {
    width: 15vw;
    height: 6vw; 
  }
  
  .kualitas h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2vw;
  }
  
  .kualitas {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .kualitas h3{
    font-size: 1.3vw;
    font-weight: 400;
    color: #878686;
  }
  
  .kualitas i{
    font-size: 1.3vw;
  }
  

  .search {
    width: 15vw;
    height: 4.5vw;
  }
  
  .search:active {
    transform: scale(0.97 );
  }
  
  .search i{
    font-size: 2vw;
  }
  
  .search h1 {
    font-size: 2vw;
  }





  





  /* ?responsive hero banner */
  
  
  


}









@media screen and (max-width: 745px) {
  .container {
    justify-content: space-evenly;
  }

  .navigation {
    display: flex;
  }

  .navigation ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkblue);
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  .navigation ul li a {
    color: var(--putihh);
  }

  .navigation ul li a:hover {
    color: var(--birumuda);
  }

  .navigation ul.slide {
    transform: translate(0);
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }
}
